section.about
	h2#about.inline-border About Me
	
	.window
	
	span.line-blue
	
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam earum ut accusamus dolores itaque, quis, nesciunt expedita cupiditate, error illo voluptate? Nemo debitis voluptatum a incidunt culpa qui et magni!