section.separator
	h3.call Want to know more about me?
		span
			a(href="#")
				svg#ArrowR(x='0px', y='0px', width='70px', height='70px', viewbox='0 0 70 70')
					circle#Circle(fill='none', stroke='#FFFFFF', stroke-width='3', stroke-miterlimit='10', cx='35', cy='35', r='21.958')
					polyline#Arrow(fill='none', stroke='#FFFFFF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='\
				31.396,23.958 42.604,35.167 31.729,46.042 ')

