section.contact
	h2#contact.inline-border Contact
	
	.contact-data
		
		form#contactUs(action="", method="POST")
			p I currently accept new projects.
			
			div.personalData
				input(type="text", placeholder="NAME")
				input(type="email", placeholder="EMAIL")
			textarea(placeholder="SUBJECT")
			input(type="submit", value="SEND")
		
		
		img.phone(src="images/contact_phone.png", alt="")