section.numbers
	
	.numbers-container
	
		.number-item
	
			span.timer(data-from="0" data-to="434250" data-speed="1500" data-refresh-interval="75")

			span.line-white

			p.description Lines of Code

		.number-item
		
			span.timer(data-from="0" data-to="4870" data-speed="2500" data-refresh-interval="30")

			span.line-white

			p.description Cups of Coffee

		.number-item
		
			span.timer(data-from="0" data-to="46" data-speed="3500" data-refresh-interval="5")
			span.line-white

			p.description Projects

		.number-item
		
			span.timer(data-from="0" data-to="12450" data-speed="4000" data-refresh-interval="60")

			span.line-white

			p.description Hours Working