doctype html
html(lang="en")
	head
		include includes/head.jade
	
	body
		
		include includes/english/header.jade
		
		include includes/english/about.jade
		
		include includes/skills.jade
		
		include includes/english/numbers.jade
		
		include includes/english/portfolio.jade
		
		include includes/english/call.jade
		
		include includes/english/contact.jade
		
		include includes/english/footer.jade
		
		include includes/scripts.jade