@font-face
  font-family: 'open_sansbold'
  src: url('../fonts/opensans-bold-webfont.eot')
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/opensans-bold-webfont.woff2') format("woff2"), url('../fonts/opensans-bold-webfont.woff') format("woff"), url('../fonts/opensans-bold-webfont.ttf') format("truetype"), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sansregular'
  src: url('../fonts/opensans-regular-webfont.eot')
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/opensans-regular-webfont.woff2') format("woff2"), url('../fonts/opensans-regular-webfont.woff') format("woff"), url('../fonts/opensans-regular-webfont.ttf') format("truetype"), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'slim_joeregular'
  src: url('../fonts/slim_joe-webfont.eot')
  src: url('../fonts/slim_joe-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/slim_joe-webfont.woff2') format("woff2"), url('../fonts/slim_joe-webfont.woff') format("woff"), url('../fonts/slim_joe-webfont.ttf') format("truetype"), url('../fonts/slim_joe-webfont.svg#slim_joeregular') format("svg")
  font-weight: normal
  font-style: normal