section.skills
	h2#skills.inline-border Skills & Tools
	
	.skill-container
	
		a.skill-item(href="#")
			figure
				img(src="images/skills/lightbulb.svg", alt="")
				figcaption Html

		a.skill-item(href="#")
			figure
				img(src="images/skills/eye.svg", alt="")
				figcaption Css3

		a.skill-item(href="#")
			figure
				img(src="images/skills/world.svg", alt="")
				figcaption JavaScript

		a.skill-item(href="#")
			figure
				img(src="images/skills/webpage.svg", alt="")
				figcaption SVG

		a.skill-item(href="#")
			figure
				img(src="images/skills/fontScale.svg", alt="")
				figcaption Photoshop

		a.skill-item(href="#")
			figure
				img(src="images/skills/pen.svg", alt="")
				figcaption Illustrator

		a.skill-item(href="#")
			figure
				img(src="images/skills/display.svg", alt="")
				figcaption Code Editor
				
		a.skill-item(href="#")
			figure
				img(src="images/skills/clock.svg", alt="")
				figcaption Jade & Sass
